body {
    width: 100vw;
    background-color: black;
    color: rgb(215, 81, 3);
    font-size: 90px;
}


   
div {
    width: 60%;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p {
    animation: test 0.5s ;
    
}


h5{
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

      

    color:rgb(200,200,200);
    font-size:18px;
    position: absolute;
    top: 0px; left: 5px;
    
}


h6{
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    color:rgb(200,200,200);
    font-size:12px;
    position: absolute;
    top: 22px; left: 5px;}

/* Step 1: Mess around with this animation setup. See what happens */
@keyframes test {
    0% {
        color: rgb(215, 81, 3);
        transform: skew(-15deg, 15deg)  scale(4) scale(2);
    }

    100% {
        color: rgb(206, 68, 9);
        transform: skew(-15deg, 15deg) rotate(23deg) scale(10) scale(20) translateY(100);
    }
}