body{
    background-color: black
}



#lineOne{
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

      

    color:rgb(200,200,200);
    font-size:18px;

    
}


#lineTwo{
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    color:rgb(200,200,200);
    font-size:12px;
   
      
}
#lineThree{
    

    
        font-family: "Parisienne", cursive;
        font-weight: 400;
        font-style: normal;
     color:rgb(255, 172, 241);
    font-size: 100px;
    position: absolute;
    top: 250px; left: 500px;

}   


#lineFour{ 
       
            font-family: "Nanum Brush Script", cursive;
            font-weight: 400;
            font-style: normal;
            color:rgb(125, 110, 21);
           font-size: 100px;
           position: absolute;
           top: 250px; left: 800px;

           
         
        }

        #lineFive{ 
       
            font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

      

    color:rgb(200,200,200);
    font-size:20px;
    position: absolute;
    top: 730px; left: 700px;
         
        }