body {
    width: 100vw;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 90px;
}


   
div {
    width: 60%;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p {
    animation: test 2s linear alternate infinite;
}

h5{
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

      

    color:rgb(200,200,200);
    font-size:18px;
    position: absolute;
    top: 0px; left: 5px;
    
}

h3{
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

      

    color:rgb(200,200,200);
    font-size:18px;
    position: absolute;
    top: 700px; left: 700px;
    
}


h6{
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    color:rgb(200,200,200);
    font-size:12px;
    position: absolute;
    top: 22px; left: 5px;}

/* Step 1: Mess around with this animation setup. See what happens */
@keyframes test {
    0% {
        color: rgb(0, 217, 255);
        
    }

    100% {
        color: rgb(203, 0, 0);
        
    }
}